@import 'tailwindcss';

@source '../node_modules/sveltewind';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 290);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 290);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 290);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 290);
	--color-primary-400: oklch(0.575 0.1672390653939703 290);
	--color-primary-500: oklch(0.3942979527492929 0.25 290);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 290);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 290);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 290);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 290);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 290);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 230);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 230);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 230);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 230);
	--color-secondary-400: oklch(0.575 0.1672390653939703 230);
	--color-secondary-500: oklch(0.3942979527492929 0.25 230);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 230);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 230);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 230);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 230);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 230);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 290);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 290);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 290);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 290);
	--color-gray-400: oklch(0.575 0.020904883174246287 290);
	--color-gray-500: oklch(0.3942979527492929 0.03125 290);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 290);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 290);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 290);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 290);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 290);
}
[theme='castlevania-heart'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 10);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 10);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 10);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 10);
	--color-primary-400: oklch(0.575 0.1672390653939703 10);
	--color-primary-500: oklch(0.3942979527492929 0.25 10);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 10);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 10);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 10);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 10);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 10);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 -50);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 -50);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 -50);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 -50);
	--color-secondary-400: oklch(0.575 0.1672390653939703 -50);
	--color-secondary-500: oklch(0.3942979527492929 0.25 -50);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 -50);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 -50);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 -50);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 -50);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 -50);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 10);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 10);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 10);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 10);
	--color-gray-400: oklch(0.575 0.020904883174246287 10);
	--color-gray-500: oklch(0.3942979527492929 0.03125 10);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 10);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 10);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 10);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 10);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 10);
}
[theme='red-pentacle'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 30);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 30);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 30);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 30);
	--color-primary-400: oklch(0.575 0.1672390653939703 30);
	--color-primary-500: oklch(0.3942979527492929 0.25 30);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 30);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 30);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 30);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 30);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 30);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 -30);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 -30);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 -30);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 -30);
	--color-secondary-400: oklch(0.575 0.1672390653939703 -30);
	--color-secondary-500: oklch(0.3942979527492929 0.25 -30);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 -30);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 -30);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 -30);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 -30);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 -30);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 30);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 30);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 30);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 30);
	--color-gray-400: oklch(0.575 0.020904883174246287 30);
	--color-gray-500: oklch(0.3942979527492929 0.03125 30);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 30);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 30);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 30);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 30);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 30);
}
[theme='cacodemon-red'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 50);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 50);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 50);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 50);
	--color-primary-400: oklch(0.575 0.1672390653939703 50);
	--color-primary-500: oklch(0.3942979527492929 0.25 50);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 50);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 50);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 50);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 50);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 50);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 -10);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 -10);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 -10);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 -10);
	--color-secondary-400: oklch(0.575 0.1672390653939703 -10);
	--color-secondary-500: oklch(0.3942979527492929 0.25 -10);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 -10);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 -10);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 -10);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 -10);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 -10);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 50);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 50);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 50);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 50);
	--color-gray-400: oklch(0.575 0.020904883174246287 50);
	--color-gray-500: oklch(0.3942979527492929 0.03125 50);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 50);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 50);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 50);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 50);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 50);
}
[theme='scab-red'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 70);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 70);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 70);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 70);
	--color-primary-400: oklch(0.575 0.1672390653939703 70);
	--color-primary-500: oklch(0.3942979527492929 0.25 70);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 70);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 70);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 70);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 70);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 70);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 10);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 10);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 10);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 10);
	--color-secondary-400: oklch(0.575 0.1672390653939703 10);
	--color-secondary-500: oklch(0.3942979527492929 0.25 10);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 10);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 10);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 10);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 10);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 10);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 70);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 70);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 70);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 70);
	--color-gray-400: oklch(0.575 0.020904883174246287 70);
	--color-gray-500: oklch(0.3942979527492929 0.03125 70);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 70);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 70);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 70);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 70);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 70);
}
[theme='bay-brown'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 90);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 90);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 90);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 90);
	--color-primary-400: oklch(0.575 0.1672390653939703 90);
	--color-primary-500: oklch(0.3942979527492929 0.25 90);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 90);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 90);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 90);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 90);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 90);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 30);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 30);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 30);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 30);
	--color-secondary-400: oklch(0.575 0.1672390653939703 30);
	--color-secondary-500: oklch(0.3942979527492929 0.25 30);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 30);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 30);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 30);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 30);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 30);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 90);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 90);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 90);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 90);
	--color-gray-400: oklch(0.575 0.020904883174246287 90);
	--color-gray-500: oklch(0.3942979527492929 0.03125 90);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 90);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 90);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 90);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 90);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 90);
}
[theme='sugarloaf-brown'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 110);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 110);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 110);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 110);
	--color-primary-400: oklch(0.575 0.1672390653939703 110);
	--color-primary-500: oklch(0.3942979527492929 0.25 110);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 110);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 110);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 110);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 110);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 110);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 50);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 50);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 50);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 50);
	--color-secondary-400: oklch(0.575 0.1672390653939703 50);
	--color-secondary-500: oklch(0.3942979527492929 0.25 50);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 50);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 50);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 50);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 50);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 50);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 110);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 110);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 110);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 110);
	--color-gray-400: oklch(0.575 0.020904883174246287 110);
	--color-gray-500: oklch(0.3942979527492929 0.03125 110);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 110);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 110);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 110);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 110);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 110);
}
[theme='duck-hunt'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 130);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 130);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 130);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 130);
	--color-primary-400: oklch(0.575 0.1672390653939703 130);
	--color-primary-500: oklch(0.3942979527492929 0.25 130);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 130);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 130);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 130);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 130);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 130);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 70);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 70);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 70);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 70);
	--color-secondary-400: oklch(0.575 0.1672390653939703 70);
	--color-secondary-500: oklch(0.3942979527492929 0.25 70);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 70);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 70);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 70);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 70);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 70);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 130);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 130);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 130);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 130);
	--color-gray-400: oklch(0.575 0.020904883174246287 130);
	--color-gray-500: oklch(0.3942979527492929 0.03125 130);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 130);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 130);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 130);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 130);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 130);
}
[theme='cucumber'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 150);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 150);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 150);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 150);
	--color-primary-400: oklch(0.575 0.1672390653939703 150);
	--color-primary-500: oklch(0.3942979527492929 0.25 150);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 150);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 150);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 150);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 150);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 150);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 90);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 90);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 90);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 90);
	--color-secondary-400: oklch(0.575 0.1672390653939703 90);
	--color-secondary-500: oklch(0.3942979527492929 0.25 90);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 90);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 90);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 90);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 90);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 90);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 150);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 150);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 150);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 150);
	--color-gray-400: oklch(0.575 0.020904883174246287 150);
	--color-gray-500: oklch(0.3942979527492929 0.03125 150);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 150);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 150);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 150);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 150);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 150);
}
[theme='ireland-green'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 170);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 170);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 170);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 170);
	--color-primary-400: oklch(0.575 0.1672390653939703 170);
	--color-primary-500: oklch(0.3942979527492929 0.25 170);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 170);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 170);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 170);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 170);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 170);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 110);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 110);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 110);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 110);
	--color-secondary-400: oklch(0.575 0.1672390653939703 110);
	--color-secondary-500: oklch(0.3942979527492929 0.25 110);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 110);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 110);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 110);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 110);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 110);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 170);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 170);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 170);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 170);
	--color-gray-400: oklch(0.575 0.020904883174246287 170);
	--color-gray-500: oklch(0.3942979527492929 0.03125 170);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 170);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 170);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 170);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 170);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 170);
}
[theme='barbados-bay'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 190);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 190);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 190);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 190);
	--color-primary-400: oklch(0.575 0.1672390653939703 190);
	--color-primary-500: oklch(0.3942979527492929 0.25 190);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 190);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 190);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 190);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 190);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 190);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 130);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 130);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 130);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 130);
	--color-secondary-400: oklch(0.575 0.1672390653939703 130);
	--color-secondary-500: oklch(0.3942979527492929 0.25 130);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 130);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 130);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 130);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 130);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 130);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 190);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 190);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 190);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 190);
	--color-gray-400: oklch(0.575 0.020904883174246287 190);
	--color-gray-500: oklch(0.3942979527492929 0.03125 190);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 190);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 190);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 190);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 190);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 190);
}
[theme='mamala-bay'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 210);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 210);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 210);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 210);
	--color-primary-400: oklch(0.575 0.1672390653939703 210);
	--color-primary-500: oklch(0.3942979527492929 0.25 210);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 210);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 210);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 210);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 210);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 210);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 150);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 150);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 150);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 150);
	--color-secondary-400: oklch(0.575 0.1672390653939703 150);
	--color-secondary-500: oklch(0.3942979527492929 0.25 150);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 150);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 150);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 150);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 150);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 150);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 210);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 210);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 210);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 210);
	--color-gray-400: oklch(0.575 0.020904883174246287 210);
	--color-gray-500: oklch(0.3942979527492929 0.03125 210);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 210);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 210);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 210);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 210);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 210);
}
[theme='soulstone-blue'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 230);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 230);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 230);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 230);
	--color-primary-400: oklch(0.575 0.1672390653939703 230);
	--color-primary-500: oklch(0.3942979527492929 0.25 230);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 230);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 230);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 230);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 230);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 230);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 170);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 170);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 170);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 170);
	--color-secondary-400: oklch(0.575 0.1672390653939703 170);
	--color-secondary-500: oklch(0.3942979527492929 0.25 170);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 170);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 170);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 170);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 170);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 170);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 230);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 230);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 230);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 230);
	--color-gray-400: oklch(0.575 0.020904883174246287 230);
	--color-gray-500: oklch(0.3942979527492929 0.03125 230);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 230);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 230);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 230);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 230);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 230);
}
[theme='blue-screen-of-death'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 250);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 250);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 250);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 250);
	--color-primary-400: oklch(0.575 0.1672390653939703 250);
	--color-primary-500: oklch(0.3942979527492929 0.25 250);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 250);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 250);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 250);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 250);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 250);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 190);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 190);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 190);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 190);
	--color-secondary-400: oklch(0.575 0.1672390653939703 190);
	--color-secondary-500: oklch(0.3942979527492929 0.25 190);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 190);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 190);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 190);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 190);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 190);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 250);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 250);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 250);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 250);
	--color-gray-400: oklch(0.575 0.020904883174246287 250);
	--color-gray-500: oklch(0.3942979527492929 0.03125 250);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 250);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 250);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 250);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 250);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 250);
}
[theme='interdimensional-blue'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 270);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 270);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 270);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 270);
	--color-primary-400: oklch(0.575 0.1672390653939703 270);
	--color-primary-500: oklch(0.3942979527492929 0.25 270);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 270);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 270);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 270);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 270);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 270);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 210);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 210);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 210);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 210);
	--color-secondary-400: oklch(0.575 0.1672390653939703 210);
	--color-secondary-500: oklch(0.3942979527492929 0.25 210);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 210);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 210);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 210);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 210);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 210);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 270);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 270);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 270);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 270);
	--color-gray-400: oklch(0.575 0.020904883174246287 270);
	--color-gray-500: oklch(0.3942979527492929 0.03125 270);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 270);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 270);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 270);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 270);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 270);
}
[theme='elegant-midnight'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 290);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 290);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 290);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 290);
	--color-primary-400: oklch(0.575 0.1672390653939703 290);
	--color-primary-500: oklch(0.3942979527492929 0.25 290);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 290);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 290);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 290);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 290);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 290);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 230);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 230);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 230);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 230);
	--color-secondary-400: oklch(0.575 0.1672390653939703 230);
	--color-secondary-500: oklch(0.3942979527492929 0.25 230);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 230);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 230);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 230);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 230);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 230);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 290);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 290);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 290);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 290);
	--color-gray-400: oklch(0.575 0.020904883174246287 290);
	--color-gray-500: oklch(0.3942979527492929 0.03125 290);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 290);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 290);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 290);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 290);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 290);
}
[theme='indigo-purple'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 310);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 310);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 310);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 310);
	--color-primary-400: oklch(0.575 0.1672390653939703 310);
	--color-primary-500: oklch(0.3942979527492929 0.25 310);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 310);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 310);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 310);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 310);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 310);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 250);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 250);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 250);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 250);
	--color-secondary-400: oklch(0.575 0.1672390653939703 250);
	--color-secondary-500: oklch(0.3942979527492929 0.25 250);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 250);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 250);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 250);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 250);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 250);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 310);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 310);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 310);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 310);
	--color-gray-400: oklch(0.575 0.020904883174246287 310);
	--color-gray-500: oklch(0.3942979527492929 0.03125 310);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 310);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 310);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 310);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 310);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 310);
}
[theme='mardi-gras'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 330);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 330);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 330);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 330);
	--color-primary-400: oklch(0.575 0.1672390653939703 330);
	--color-primary-500: oklch(0.3942979527492929 0.25 330);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 330);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 330);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 330);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 330);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 330);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 270);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 270);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 270);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 270);
	--color-secondary-400: oklch(0.575 0.1672390653939703 270);
	--color-secondary-500: oklch(0.3942979527492929 0.25 270);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 270);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 270);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 270);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 270);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 270);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 330);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 330);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 330);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 330);
	--color-gray-400: oklch(0.575 0.020904883174246287 330);
	--color-gray-500: oklch(0.3942979527492929 0.03125 330);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 330);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 330);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 330);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 330);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 330);
}
[theme='strong-cerise'] {
	--color-primary-50: oklch(1.028823163801254 0.015534242079833713 350);
	--color-primary-100: oklch(0.9814466233786885 0.029986898506779654 350);
	--color-primary-200: oklch(0.894653250251275 0.05632269227038865 350);
	--color-primary-300: oklch(0.7557020472507071 0.10082609282360304 350);
	--color-primary-400: oklch(0.575 0.1672390653939703 350);
	--color-primary-500: oklch(0.3942979527492929 0.25 350);
	--color-primary-600: oklch(0.25534674974872507 0.16723906539397032 350);
	--color-primary-700: oklch(0.16855337662131142 0.10082609282360305 350);
	--color-primary-800: oklch(0.12117683619874589 0.05632269227038861 350);
	--color-primary-900: oklch(0.09720462108353599 0.029986898506779602 350);
	--color-primary-950: oklch(0.08553981016067926 0.015534242079833727 350);
	--color-secondary-50: oklch(1.028823163801254 0.015534242079833713 290);
	--color-secondary-100: oklch(0.9814466233786885 0.029986898506779654 290);
	--color-secondary-200: oklch(0.894653250251275 0.05632269227038865 290);
	--color-secondary-300: oklch(0.7557020472507071 0.10082609282360304 290);
	--color-secondary-400: oklch(0.575 0.1672390653939703 290);
	--color-secondary-500: oklch(0.3942979527492929 0.25 290);
	--color-secondary-600: oklch(0.25534674974872507 0.16723906539397032 290);
	--color-secondary-700: oklch(0.16855337662131142 0.10082609282360305 290);
	--color-secondary-800: oklch(0.12117683619874589 0.05632269227038861 290);
	--color-secondary-900: oklch(0.09720462108353599 0.029986898506779602 290);
	--color-secondary-950: oklch(0.08553981016067926 0.015534242079833727 290);
	--color-gray-50: oklch(1.028823163801254 0.001941780259979214 350);
	--color-gray-100: oklch(0.9814466233786885 0.003748362313347457 350);
	--color-gray-200: oklch(0.894653250251275 0.007040336533798581 350);
	--color-gray-300: oklch(0.7557020472507071 0.01260326160295038 350);
	--color-gray-400: oklch(0.575 0.020904883174246287 350);
	--color-gray-500: oklch(0.3942979527492929 0.03125 350);
	--color-gray-600: oklch(0.25534674974872507 0.02090488317424629 350);
	--color-gray-700: oklch(0.16855337662131142 0.012603261602950382 350);
	--color-gray-800: oklch(0.12117683619874589 0.007040336533798576 350);
	--color-gray-900: oklch(0.09720462108353599 0.0037483623133474503 350);
	--color-gray-950: oklch(0.08553981016067926 0.0019417802599792158 350);
}
@custom-variant landscape {
	@media (orientation: landscape) {
		@slot;
	}
}

@custom-variant portrait {
	@media (orientation: portrait) {
		@slot;
	}
}

@layer base {
	* {
		scrollbar-width: thin;
		scrollbar-color: theme(colors.primary.500) transparent;
	}

	*::-webkit-scrollbar {
		@apply h-2 w-2;
	}

	*::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
}
